@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
html {
    scroll-behavior: smooth;
}

.mobile-screen-nav{
    width: auto;
}
@media (max-width:1023px) {
    .mobile-screen-nav{
        width: 100%;
    }
    
}

  
