@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}
.basketquantity{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
     background-color: white; 
    color: black;
    text-align: center;
    top: -6px;
    right: -1px;
}
.mobile-screen-nav{
    width: auto;
}
@media (max-width:1023px) {
    .mobile-screen-nav{
        width: 100%;
    }
    
}

@media (max-width:768px) {
 .btns-cart-wrapper {
    width: 100%;
    justify-content: space-between;
    margin-block: 4px;
 }    
 .btn-remove{
    width: 100%;
    margin-block: 4px;
 }
}
  
